/* recommended-friends */
.recommended-friends {
  padding-top: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.recommended-friends__title {
  opacity: 0.7;
  font-size: 15px;
}

.recommended-friends__text {
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
  opacity: 0.65;
  font-size: 16px;
}

/* open-chat__header */
.open-chat__header {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.open-chat__title {
  opacity: 0.7;
  font-size: 15px;
}

.open-chat__go-to-openchat {
  opacity: 0.5;
  font-size: 14px;
  cursor: pointer;
}

.open-chat__header i {
  opacity: 0.3;
  font-size: 13px;
}

/* open-post */
.open-post {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.open-post__column:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.open-post__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 4px;
}

.open-post__members {
  display: flex;
  align-items: center;
}

.open-post__profile-photo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  font-size: 16px;
  opacity: 0.4;
}

.open-post__divider {
  font-size: 14px;
  margin: 0px 5px;
  opacity: 0.4;
}

.open-post__active {
  color: #ff88d0;
  font-size: 14px;
}

.open-post__column:last-child {
  position: relative;
}

.open-post__main-photo {
  width: 90px;
  height: 90px;
  border-radius: 5px;
}

.open-post__likes {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 13px;
  color: white;
  border-radius: 10px;
  padding: 5px 8px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.open-post__likes i {
  margin-top: 2px;
  font-size: 11px;
  margin-right: 4px;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
    color: white;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
    color: tomato;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.open-post__likes:hover i {
  will-change: transform;
  animation: heartbeat 1s ease-in-out infinite both;
}

.open-post:last-child {
  border: none;
}
