.alt-screen-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 20px 15px 20px;
  z-index: 4;
  background-color: white;
}

.alt-screen-header__column {
  display: flex;
  align-items: center;
  width: 33.33%;
  font-size: 20px;
}

.alt-screen-header__column:nth-child(2) {
  justify-content: center;
  font-weight: 600;
  cursor: default;
}

.alt-screen-header__column:last-child {
  justify-content: flex-end;
}

.alt-screen-header--blue {
  background-color: #abc1d1;
}

.alt-screen-header__column:last-child a:last-child {
  margin-left: 20px;
  font-size: 22px;
}
