/* find-icon */
.icons {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons__icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 80px;
  height: 80px;
}

.icons__icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  margin-bottom: 3px;
  font-size: 30px;
}

.icons__text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40%;
  line-height: 20px;
  font-size: 14px;
}

.icons__text--small {
  font-size: 12px;
  opacity: 0.85;
  margin-bottom: 15px;
}

.icons--boder-bottom {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.icons__icon--invisible {
  visibility: hidden;
}

/* more__suggestions */
.icons__icon img {
  width: 45px;
  height: 45px;
  border-radius: 5px;
}

.icons__text--suggestion {
  font-size: 12px;
  opacity: 0.9;
  margin-bottom: 10px;
  line-height: 12px;
}
