.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 5;
  background-color: #f9f9fa;
  padding: 12.5px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav i {
  font-size: 25px;
}

.nav__anchor {
  position: relative;
}
