#too-big-screen,
#too-small-screen {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  font-size: 30px;
  top: 0;
}

@media screen and (max-width: 600px) {
  #too-big-screen {
    display: none;
  }
}

@media screen and (min-width: 400px) {
  #too-small-screen {
    display: none;
  }
}
/* 위처럼 화면의 너비나 높이를 감지할 수도 있고
아래처럼 스마트폰의 가로모드나 세로모드도 감지할 수 있다. */

/* @media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
} */
